# ================================================================================
# = LimboESP configuration                                                       =
# = Default configuration is shown commented out. Comment in to set your values. =
# = Everything can be overwritten via command line like: -Dadmin.user=mike       = 
# ================================================================================

# Admin account username and password
#admin.user=admin
#admin.pass=admin
