<h1 class="title">{{'DEVICE.TITLES'|translate}}</h1>

<table class="table is-fullwidth is-striped tk-table-actions tk-table-middle">
	<thead>
		<tr>
			<th>{{'GEN.ID'|translate}}</th>
			<th>{{'GEN.NAME'|translate}}</th>
			<th>{{'GEN.PLATFORM'|translate}}</th>
			<th>{{'GEN.UUID'|translate}}</th>
			<th>{{'DEVICE.TSCHECK'|translate}}</th>
			<th>{{'DEVICE.TSUPDATE'|translate}}</th>
			<th>
				<button ng-click="$ctrl.reload()" class="button">
					<i class="fas fa-sync">&nbsp;</i>{{'ACTION.RELOAD'|translate}}
				</button>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in $ctrl.items">
			<td>{{item.id}}</td>
			<td>{{item.name}}</td>
			<td>{{item.platform}}</td>
			<td>{{item.uuid}}</td>
			<td>{{item.tsCheck| date:'yyyy-MM-dd HH:mm:ss'}}</td>
			<td>{{item.tsUpdate| date:'yyyy-MM-dd HH:mm:ss'}}</td>
			
			<td>
				<button ng-click="$ctrl.reload()" class="button">
					<i class="fas fa-sync">&nbsp;</i>{{'ACTION.RELOAD'|translate}}
				</button>
			</td>
		</tr>
</table>
